<div class="container">
  <ul class="list-group">
    <li class="list-group-item custom-control custom-checkbox pl-5">
      <input type="checkbox" class="custom-control-input" id="defaultChecked1" checked>
      <label class="custom-control-label" for="defaultChecked1">First item</label>
      <i class="far fa-trash-alt fa-pull-right"></i>
    </li>
    <li class="list-group-item custom-control custom-checkbox pl-5">
      <input type="checkbox" class="custom-control-input" id="defaultChecked2">
      <label class="custom-control-label" for="defaultChecked2">Second item</label>
      <i class="far fa-trash-alt fa-pull-right"></i>
    </li>
    <li class="list-group-item custom-control custom-checkbox pl-5">
      <input type="checkbox" class="custom-control-input" id="defaultChecked3">
      <label class="custom-control-label" for="defaultChecked3">Third item</label>
      <i class="far fa-trash-alt fa-pull-right"></i>
    </li>
  </ul>
</div>
